@font-face {
	font-family: 'Matrix Code NFI';
	src: url('https://cdn.rawgit.com/fkmclane/matrix/master/font/matrix-code-nfi.woff');
}

@font-face {
	font-family: 'Terminus TTF';
	src: url('https://cdn.rawgit.com/fkmclane/matrix/master/font/terminus-ttf.woff');
}
